* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
p {
    font-size: 18px;
    color: #e5e7eb;
}
#header {
    background-color: #1f2937;
    margin: 0px;
    padding: 0;
    top: 0;
    left: 0;

}
#header nav {
    display: flex;
    justify-content: space-around;
}
#header>nav>ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
    margin: 10px;
    flex: 1;
    text-align: center;
}
.link {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px 20px;
}
#landing {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
}
.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}
.left-main {
    width: 50%;

}
.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin-left: 100px;
    width: 100%;
    max-width: 480px;
}
.title-card {
    display: flex;
    margin: 30px 50px;;
    padding: 50px;
}
.sign {
    margin: 5px;
    padding: 10px;
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    text-align: center;
    width: 40%;
    color: #e5e7eb;
    font-weight: bold;
    transition: background-color 0.25s ease-in-out;
}
.sign:hover {
    background-color: #2e6ed6;
}
#random-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.random-title{
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;   
}
.boxes {
    display: flex;
    justify-content: center;
    width: 80%;
}
.box {
    border: 3px solid #3882f6;
    height: 50%;
    aspect-ratio: 1;
    border-radius: 8px;
    margin: auto;
}
.box-and-text p {
    color: black;
    margin: 10px;
    text-align: center;
}
#quote {
    background-color: #e5e7eb;
    padding: 100px;
}
.quote {
    display: flex;
    margin-top: 40px;
}
.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}
.by {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    flex-direction: row-reverse;
}
#call-to-action {
    padding: 100px 0px 100px 0px;
}
.call {
    background-color: #3882f6;
    padding: 60px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.head {
    font-size: 36px;
    font-weight: 900;
    color: #f9faf8;
}
.call button {
    border: 2px solid white;
    background-color: #3882f6;
    padding: 10px 20px;
    border-radius: 8px;
    color: #f9faf8;
    height: 50%;
    font-size: 18px;
    transition: background-color 0.25s ease-in-out;
}
.call button:hover {
    background-color: #2e6ed6; 
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 40px;
}
